name: Run unit tests

on:
    pull_request:
    push:
        branches: [main]
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            # Checkout the repository
            - uses: actions/checkout@v6
            # Set up Node.js and npm
            - uses: actions/setup-node@v6
              with:
                  node-version: "20"
            # Install dependencies (ci = clean install)
            - run: npm ci
            # Run tests
            - run: npm run test
